# Server Configuration
PORT=3000
NODE_ENV=development



# PalmPay Configuration
PALMPAY_BASE_URL=https://sandbox.palmpay.com/v2
PALMPAY_API_KEY=your_api_key_here
PALMPAY_PUBLIC_KEY=your_public_key_path_or_content
PALMPAY_PRIVATE_KEY=your_private_key_path_or_content
PALMPAY_WEBHOOK_SECRET=your_webhook_secret

# JWT Configuration
JWT_SECRET=your_jwt_secret_here_change_in_production
JWT_EXPIRES_IN=7d

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/vtpay

# Webhook Configuration
WEBHOOK_BASE_URL=https://your-domain.com/api/webhooks/zainpay

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google Drive Backup Configuration
GOOGLE_DRIVE_CLIENT_ID=your_client_id
GOOGLE_DRIVE_CLIENT_SECRET=your_client_secret
GOOGLE_DRIVE_REDIRECT_URI=https://developers.google.com/oauthplayground
GOOGLE_DRIVE_REFRESH_TOKEN=your_refresh_token
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_where_backups_will_be_saved
